* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #2ec4b6, #2ec4b6, #90dbf4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-screen {
    background: #fff;
    width: 90%;
    max-width: 360px;
    padding: 40px 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logo {
    width: 370px;
    margin-bottom: 30px;
}

.title {
    font-size: 28px;
    color: #2ec4b6;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}

#startBtn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background: #ffd166;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3;
}

#startBtn:hover {
    background: #ffbe0b;
}